.app-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 4rem;
}

section {
  padding: 4rem 0;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}

.section-subtitle {
  text-align: center;
  color: var(--text-muted);
  font-size: 1.25rem;
  max-width: 800px;
  margin: 0 auto 3rem auto;
}

.footer {
  margin-top: 4rem;
  padding: 4rem 0;
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
}

.footer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  color: var(--text-muted);
}

.side-by-side-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .side-by-side-section {
    grid-template-columns: 1fr;
  }
}
